%h1 Archive

%p Here you'll find all articles I've written so far. Enjoy!

- @archive.each do |article|

  %article.summary

    %h2
      %a{href: article.url}= article.title

    - @article = article
    = haml :_time

    = article.contents.short

    %p.read_more
      %a{href: article.url, rel: 'nofollow'} &rarr; read more

%h2 That's all folks

%p
  I don't have anymore at the moment. Be sure to <a href='/rss.xml'>subscribe to the RSS feed</a>, to read up on my latest adventures with Ruby!
  You can also <a href='http://twitter.com/iain_nl'>follow me on twitter</a>!
