= articles :summary, archive

%h2 That's all folks

%p
  I don't have anymore at the moment. Be sure to <a href='/feed'>subscribe to the RSS feed</a>, to read up on my latest adventures with Ruby!
  You can also <a href='http://twitter.com/iain_nl'>follow me on twitter</a>!
