- @archive[0,5].each do |article|

  %article.summary

    %h2
      %a{href: article.url}= article.title

    - @article = article
    = haml :_time

    = article.contents.introduction

    %p.read_more
      %a{href: article.url, rel: 'nofollow'} &rarr; read more
