!!!
%html

  %head
    %title Adventures with Ruby
    %meta(charset='UTF-8')
    %link(href='/stylesheet.css' rel='stylesheet')
    %link(rel='shortcut icon' href='/favicon.png')
    %link(href='/rss.xml' type='application/rss+xml' rel='alternate' title='RSS Feed')
  %body

    #container
      %section#main
        %header#header
          %h1
            %a(href='/') Adventures with Ruby

        %a#github(href="https://github.com/iain")
          %img(src="forkme.png" alt="Fork me on GitHub")

        %section#content
          = yield

      %aside#sidebar
        %h3 About
        %p
          Welcome to "Adventures with Ruby", my personal blog on doing Ruby development.
          I am an open source enthusiast from Rotterdam with a passion for the Ruby language and everything involved with writing good software.
        %p
          This blog features my nerdy adventures in the world of computers and programming. I hope you enjoy reading my stories and please leave a comment if you like it.
        %p
          I also organize the <a href="http://rotterdam-rb.org">Rotterdam Ruby Group</a> meetings and I am a regular visitor of <a href="http://amsterdam-rb.org">Amsterdam.rb</a>. If you're in the neighbourhood please feel free to drop by!
        %p(style="text-align: right;") - Iain Hecker

        %h3 More about me
        %ul
          %li
            %a(href="http://www.facebook.com/iain.nl" rel="me") Facebook
          %li
            %a(href="http://github.com/iain" rel="me" title="My open source project on Github") Github
          %li
            %a(href="http://www.last.fm/user/iain-nl" rel="me" title="My last.fm account") Last.fm
          %li
            %a(href="http://www.linkedin.com/in/iainhecker" rel="me" title="My LinkedIn profile") LinkedIn
          %li
            %a(href="http://stackoverflow.com/users/525636/iain" rel="me") StackOverflow
          %li
            %a(href="http://twitter.com/iain_nl" rel="me" title="My Twitter account") Twitter
          %li
            %a(href="http://workingwithrails.com/person/12406-iain-hecker" rel="me" title="My profile on Working with Rails") Working with Rails

      %footer#footer All contents on this site are &copy; Iain Hecker #{Date.today.year}, unless otherwise stated. All rights reserved.

    :javascript
      (function() {
        var outboundLinks = function() {
          var links = document.getElementsByTagName("a");
          var domain = new RegExp("#{request.host}", "i");
          var linkCount = links.length;
          for (var i = 0; i < linkCount; i++) {
            var link = links[i];
            if (link.hostname.search(domain) == -1) link.target = "_blank";
          }
        }
        window.onload = outboundLinks;
      }).call(this);
