!!!
%html

  %head
    %title Adventures with Ruby
    %meta(charset='UTF-8')
    %script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    %link(href='/stylesheet.css' rel='stylesheet' type='text/css')
    %link(rel='shortcut icon' type='image/x-png' href='/favicon.png')

  %body

    %header
      %h1 Adventures with Ruby

    = yield
