p
  br
p I'm sorry, but the page you tried to access couldn't be found.
p Maybe you can find the page you were looking for in the <a href='/articles'>list of all articles</a>.

h3 Tribute

p Meanwhile, here's an old snippet of marvellous Ruby code:

== erb :tribute

p
  a(href="http://timelessrepo.com/tribute") Source
