<pre>
<span class="PreProc">require</span> <span class="rubyStringDelimiter">'</span><span class="String">open-uri</span><span class="rubyStringDelimiter">'</span>
<span class="Statement">eval</span>(open(<span class="rubyStringDelimiter">&quot;</span><span class="String">http://judofyr.net/t.rb</span><span class="rubyStringDelimiter">&quot;</span>).read)

<span class="Type">Song</span>.new(<span class="Constant">:tribute</span>) <span class="rubyControl">do</span>
  greatest = <span class="Constant">true</span>
  best = <span class="Constant">true</span>
  tribute!

  <span class="Constant">:long</span>.ago(<span class="rubyStringDelimiter">&quot;</span><span class="rubyInterpolationDelimiter">#{</span><span class="Identifier">@me</span><span class="rubyInterpolationDelimiter">}</span><span class="String"> and my brother </span><span class="rubyInterpolationDelimiter">#{</span><span class="Identifier">@kyle</span><span class="rubyInterpolationDelimiter">}</span><span class="String"> here,...</span><span class="rubyStringDelimiter">&quot;</span>) <span class="rubyControl">do</span>
    <span class="Identifier">@road</span> = <span class="Type">Road</span>.new(<span class="Constant">:long</span>, <span class="Constant">:lonesome</span>)
    <span class="Identifier">@we</span>.hitchhiked!(<span class="Identifier">@road</span>)

    suddenly!
    <span class="Identifier">@demon</span>.shined!(<span class="Constant">:in</span> =&gt; <span class="Identifier">@road</span>.middle)
    <span class="Identifier">@demon</span>.said <span class="rubyStringDelimiter">&quot;</span><span class="String">Play the best song in the world, or I'll eat your souls.</span><span class="rubyStringDelimiter">&quot;</span>

    <span class="Identifier">@we</span>.looked(<span class="Constant">:at</span> =&gt; <span class="rubyStringDelimiter">'</span><span class="String">each other</span><span class="rubyStringDelimiter">'</span>)
    <span class="Identifier">@we</span>.said <span class="rubyStringDelimiter">&quot;</span><span class="String">Okay.</span><span class="rubyStringDelimiter">&quot;</span>
    <span class="Identifier">@we</span>.played(<span class="rubyStringDelimiter">&quot;</span><span class="String">the first thing that came to our heads</span><span class="rubyStringDelimiter">&quot;</span>) <span class="rubyControl">do</span>
      <span class="rubyStringDelimiter">&quot;</span><span class="String">The Best Song in the World</span><span class="rubyStringDelimiter">&quot;</span>
    <span class="rubyControl">end</span>

    look(<span class="Constant">:into</span> =&gt; <span class="Identifier">@my</span>.eyes)
    <span class="Number">1</span> + <span class="Number">1</span> == <span class="Number">2</span>
    <span class="Number">2</span> + <span class="Number">1</span> == <span class="Number">3</span>
    destiny = <span class="Constant">true</span>

    every(<span class="Number">100_000</span>.years || <span class="Constant">:so</span>) <span class="rubyControl">do</span>
      <span class="Identifier">@sun</span>.doth(<span class="Constant">:shine</span>) &amp;&amp; <span class="Identifier">@moon</span>.doth(<span class="Constant">:glow</span>) &amp;&amp; <span class="Identifier">@grass</span>.doth(<span class="Constant">:grow</span>)
    <span class="rubyControl">end</span>

    !need(<span class="Constant">:to</span> =&gt; <span class="Constant">:say</span>) <span class="rubyControl">do</span>
      <span class="Identifier">@beast</span> == <span class="Constant">:stunned!</span>
      <span class="Identifier">@beast</span> == <span class="Constant">:done!</span>
    <span class="rubyControl">end</span>

    <span class="Identifier">@beast</span>.asked(<span class="Identifier">@us</span>, <span class="rubyStringDelimiter">&quot;</span><span class="String">(snort) Be you angels?</span><span class="rubyStringDelimiter">&quot;</span>)
    <span class="Identifier">@we</span>.said <span class="rubyStringDelimiter">&quot;</span><span class="String">Nay. We are but men.</span><span class="rubyStringDelimiter">&quot;</span>
    rock!

    <span class="Constant">self</span> != <span class="rubyStringDelimiter">&quot;</span><span class="String">The Greatest Song in the World</span><span class="rubyStringDelimiter">&quot;</span>
    just(<span class="Constant">:tribute</span>)
    !<span class="Identifier">@we</span>.remember(<span class="rubyStringDelimiter">&quot;</span><span class="String">The Greatest Song in the World</span><span class="rubyStringDelimiter">&quot;</span>)
    tribute(<span class="Constant">:to</span> =&gt; <span class="rubyStringDelimiter">&quot;</span><span class="String">The Greatest Song in the World</span><span class="rubyStringDelimiter">&quot;</span>)

    peculiar(<span class="Constant">:thing</span>) {<span class="rubyStringDelimiter">%q{</span>
<span class="String">      the song we sang on that fateful night it didn't actually sound</span>
<span class="String">      anything like this song!</span>
<span class="String">    </span><span class="rubyStringDelimiter">}</span>}

    just(<span class="Constant">:tribute</span>)
    <span class="Identifier">@you</span>.believe!(<span class="Identifier">@me</span>) &amp;&amp; <span class="Identifier">@I</span>.wish(<span class="rubyStringDelimiter">&quot;</span><span class="String">you were there</span><span class="rubyStringDelimiter">&quot;</span>)
    fuck!
  <span class="rubyControl">end</span>
<span class="rubyControl">end</span>
</pre>
