/* line 14, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 108, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* line 37, ../views/stylesheet.sass */
body {
  background-color: #eeeeef;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

/* line 42, ../views/stylesheet.sass */
h1 {
  font-size: 25px;
}

/* line 45, ../views/stylesheet.sass */
h2 {
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 6px 0;
}
/* line 49, ../views/stylesheet.sass */
h2 a {
  color: #503e2b;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
h2 a:hover {
  color: #cc0000;
}

/* line 52, ../views/stylesheet.sass */
h3 {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 6px 0;
}
/* line 56, ../views/stylesheet.sass */
h3 a {
  color: #503e2b;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
h3 a:hover {
  color: #cc0000;
}

/* line 59, ../views/stylesheet.sass */
h1, h2, h3, h4, h5, h6 {
  color: #503e2b;
}

/* line 62, ../views/stylesheet.sass */
p {
  color: #503e2b;
  line-height: 18px;
  margin: 0 0 6px 0;
}

/* line 67, ../views/stylesheet.sass */
a {
  color: #004477;
  text-decoration: none;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: #cc0000;
}
/* line 4, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 71, ../views/stylesheet.sass */
strong {
  font-weight: bold;
  color: #503e2b;
}

/* line 75, ../views/stylesheet.sass */
em {
  font-style: italic;
}

/* line 78, ../views/stylesheet.sass */
hr {
  border: 0 none;
  border-bottom: 1px dotted #cccccc;
}

/* line 82, ../views/stylesheet.sass */
tt, code {
  font-family: Monaco, monospace;
  color: #503e2b;
  font-size: 12px;
}

/* line 87, ../views/stylesheet.sass */
blockquote {
  margin: 20px;
  line-height: 18px;
  color: #9e948a;
}

/* line 92, ../views/stylesheet.sass */
ol {
  list-style: decimal outside;
  margin: 20px;
}

/* line 96, ../views/stylesheet.sass */
#container {
  width: 1000px;
  overflow: auto;
  margin: auto;
  padding: 40px 0;
}

/* line 102, ../views/stylesheet.sass */
#main {
  width: 600px;
  float: left;
  -moz-box-shadow: #503e2b 0px 2px 5px 0;
  -webkit-box-shadow: #503e2b 0px 2px 5px 0;
  -o-box-shadow: #503e2b 0px 2px 5px 0;
  box-shadow: #503e2b 0px 2px 5px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 0 200px;
  background-color: white;
  position: relative;
}

/* line 111, ../views/stylesheet.sass */
#github {
  position: absolute;
  top: -11px;
  right: -12px;
}

/* line 116, ../views/stylesheet.sass */
#header {
  border-bottom: 1px dotted #e3e3e3;
  min-height: 135px;
}
/* line 119, ../views/stylesheet.sass */
#header h1 {
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -o-border-top-left-radius: 7px;
  -ms-border-top-left-radius: 7px;
  -khtml-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -o-border-top-right-radius: 7px;
  -ms-border-top-right-radius: 7px;
  -khtml-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e9e9e9), color-stop(50%, #ffffff), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #e9e9e9 0%, #ffffff 50%, #ffffff 100%);
  background-image: linear-gradient(top, #e9e9e9 0%, #ffffff 50%, #ffffff 100%);
  line-height: 50px;
  border: 2px solid white;
  font-size: 30px;
  padding: 10px 20px 5px;
}
/* line 126, ../views/stylesheet.sass */
#header h1 a {
  color: #cc0000;
  text-decoration: none;
  text-shadow: white 0px 1px 0px;
}
/* line 130, ../views/stylesheet.sass */
#header h2 {
  padding: 0 20px;
  width: 520px;
  line-height: 25px;
  color: #9e948a;
  font-size: 16px;
  height: 50px;
  display: table-cell;
  vertical-align: bottom;
  text-shadow: white 0px 1px 0px;
}

/* line 141, ../views/stylesheet.sass */
#sidebar {
  float: left;
  width: 180px;
  padding: 0 0 0 15px;
  margin: 135px 0 0 5px;
  border-top: 1px dotted #cccccc;
  text-shadow: white 0px 1px 0px;
}
/* line 149, ../views/stylesheet.sass */
#sidebar h3 {
  border-top: 1px dotted #cccccc;
  padding-top: 6px;
  margin-top: 20px;
}
/* line 153, ../views/stylesheet.sass */
#sidebar h3:first-child {
  margin-top: 0;
  padding-top: 20px;
  border-top: 0 none;
}
/* line 158, ../views/stylesheet.sass */
#sidebar p {
  color: #9e948a;
  font-size: 12px;
}
/* line 161, ../views/stylesheet.sass */
#sidebar p a {
  color: #503e2b;
}
/* line 165, ../views/stylesheet.sass */
#sidebar ul li a, #sidebar ol li a {
  color: #9e948a;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#sidebar ul li a:hover, #sidebar ol li a:hover {
  color: #cc0000;
}
/* line 167, ../views/stylesheet.sass */
#sidebar ul li {
  font-size: 12px;
  line-height: 20px;
}
/* line 171, ../views/stylesheet.sass */
#sidebar ol li {
  font-size: 10px;
  line-height: 15px;
}

/* line 175, ../views/stylesheet.sass */
#footer {
  clear: both;
  color: #9e948a;
  text-align: center;
  font-size: 11px;
  line-height: 18px;
  padding: 5px;
  text-shadow: white 0px 1px 0px;
}

/* line 184, ../views/stylesheet.sass */
#content {
  padding: 20px;
  padding-top: 0;
}
/* line 188, ../views/stylesheet.sass */
#content p {
  color: #808094;
  text-align: justify;
}
/* line 191, ../views/stylesheet.sass */
#content p.read_more {
  text-align: right;
}
/* line 194, ../views/stylesheet.sass */
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  margin: 20px 0 6px 0;
  padding: 0 0 6px 0;
  border-bottom: 1px dotted #cccccc;
}
/* line 199, ../views/stylesheet.sass */
#content ul {
  list-style: disc outside;
  margin: 6px;
  margin-left: 20px;
}
/* line 203, ../views/stylesheet.sass */
#content li {
  color: #808094;
  line-height: 18px;
}
/* line 208, ../views/stylesheet.sass */
#content article h2 {
  margin: 20px 0 6px -19px;
  padding: 0 0 6px 20px;
  border-bottom: 1px dotted #cccccc;
}
/* line 213, ../views/stylesheet.sass */
#content aside {
  text-shadow: white 0px 1px 0px;
  float: left;
  border-top: 1px dotted #cccccc;
  padding: 6px 13px;
  color: #9e948a;
  font-size: 12px;
}
/* line 221, ../views/stylesheet.sass */
#content aside.post_date {
  width: 30px;
  margin-left: -76px;
  margin-top: -7px;
  text-align: center;
}
/* line 226, ../views/stylesheet.sass */
#content aside.post_date time {
  display: block;
}
/* line 228, ../views/stylesheet.sass */
#content aside.post_date span {
  display: block;
}
/* line 230, ../views/stylesheet.sass */
#content aside.post_date span.day {
  color: #503e2b;
  font-size: 20px;
  line-height: 30px;
}
/* line 235, ../views/stylesheet.sass */
#content aside.toc {
  width: 150px;
  margin-left: -196px;
  margin-top: 100px;
  text-align: right;
  border-bottom: 1px dotted #cccccc;
}
/* line 241, ../views/stylesheet.sass */
#content aside.toc ul {
  margin: 0;
  list-style-type: none;
}
/* line 244, ../views/stylesheet.sass */
#content aside.toc a {
  color: #9e948a;
  display: block;
  padding: 6px 0;
}
/* line 248, ../views/stylesheet.sass */
#content aside.toc h3 {
  border-bottom: 0 none;
  font-size: 14px;
  margin: 6px 0;
}
/* line 254, ../views/stylesheet.sass */
#content #twitter {
  margin-top: -1px;
  float: left;
  width: 60px;
  margin-left: -106px;
  border-top: 1px dotted #cccccc;
  padding: 12px 13px;
}

/* line 262, ../views/stylesheet.sass */
#comments {
  margin: 20px -20px 0 -19px;
  padding: 0 20px 0 20px;
  border-top: 1px dotted #cccccc;
}

/* line 269, ../views/stylesheet.sass */
.ir_black, pre {
  border: 3px solid white;
  -moz-box-shadow: #503e2b 0px 2px 5px 0;
  -webkit-box-shadow: #503e2b 0px 2px 5px 0;
  -o-box-shadow: #503e2b 0px 2px 5px 0;
  box-shadow: #503e2b 0px 2px 5px 0;
  padding: 10px;
  background-color: black;
  margin: 20px 0;
  display: inline-block;
  width: 532px;
  min-width: 532px;
  font-family: Monaco, monospace;
  font-size: 12px;
  line-height: 15px;
  color: #f6f3e8;
  overflow: hidden;
}
/* line 287, ../views/stylesheet.sass */
.ir_black code, pre code {
  color: #f6f3e8;
}
/* line 291, ../views/stylesheet.sass */
.ir_black .Comment, pre .Comment {
  color: #7c7c7c;
}
/* line 293, ../views/stylesheet.sass */
.ir_black .Conditional, pre .Conditional {
  color: #6699cc;
}
/* line 295, ../views/stylesheet.sass */
.ir_black .Constant, pre .Constant {
  color: #99cc99;
}
/* line 297, ../views/stylesheet.sass */
.ir_black .Delimiter, pre .Delimiter {
  color: #00a0a0;
}
/* line 299, ../views/stylesheet.sass */
.ir_black .Function, pre .Function {
  color: #ffd2a7;
}
/* line 301, ../views/stylesheet.sass */
.ir_black .Number, pre .Number {
  color: #ff73fd;
}
/* line 303, ../views/stylesheet.sass */
.ir_black .PreProc, pre .PreProc {
  color: #96cbfe;
}
/* line 305, ../views/stylesheet.sass */
.ir_black .Special, pre .Special {
  color: #e18964;
}
/* line 307, ../views/stylesheet.sass */
.ir_black .String, pre .String {
  color: #a8ff60;
}
/* line 309, ../views/stylesheet.sass */
.ir_black .Type, pre .Type {
  color: #ffffb6;
}
/* line 311, ../views/stylesheet.sass */
.ir_black .rubyControl, pre .rubyControl {
  color: #6699cc;
}
/* line 313, ../views/stylesheet.sass */
.ir_black .rubyStringDelimiter, pre .rubyStringDelimiter {
  color: #336633;
}

/* line 316, ../views/stylesheet.sass */
.ir_black:hover, .ir_white:hover, pre:hover {
  display: inline-block;
  position: relative;
  width: auto;
  overflow: auto;
  z-index: 10000;
}

/* line 323, ../views/stylesheet.sass */
.flash, .notice, .alert {
  color: #503e2b;
  margin-top: 20px;
  padding: 10px;
  font-size: 11px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  -o-border-top-right-radius: 15px;
  -ms-border-top-right-radius: 15px;
  -khtml-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -o-border-bottom-left-radius: 15px;
  -ms-border-bottom-left-radius: 15px;
  -khtml-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
/* line 330, ../views/stylesheet.sass */
.flash em, .notice em, .alert em {
  text-decoration: underline;
}

/* line 333, ../views/stylesheet.sass */
.notice {
  background: #fff9e5;
  border: 1px solid #ffea99;
}

/* line 338, ../views/stylesheet.sass */
.alert {
  background: #f9e5e5;
  border: 1px solid #ea9999;
}
