/* line 14, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 108, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* line 27, ../views/stylesheet.sass */
body {
  background-color: #eeeeef;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

/* line 32, ../views/stylesheet.sass */
h1 {
  font-size: 30px;
}
/* line 34, ../views/stylesheet.sass */
h1 a {
  color: #cc0000;
  text-decoration: none;
}

/* line 38, ../views/stylesheet.sass */
h2 {
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 6px 0;
}
/* line 42, ../views/stylesheet.sass */
h2 a {
  color: #503e2b;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
h2 a:hover {
  color: #cc0000;
}

/* line 45, ../views/stylesheet.sass */
h3 {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 6px 0;
}
/* line 49, ../views/stylesheet.sass */
h3 a {
  color: #503e2b;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
h3 a:hover {
  color: #cc0000;
}

/* line 52, ../views/stylesheet.sass */
h1, h2, h3, h4, h5, h6 {
  color: #503e2b;
}

/* line 55, ../views/stylesheet.sass */
p {
  color: #503e2b;
  line-height: 18px;
  margin: 0 0 6px 0;
}

/* line 60, ../views/stylesheet.sass */
a {
  color: #004477;
  text-decoration: none;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: #cc0000;
}
/* line 4, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 64, ../views/stylesheet.sass */
strong {
  font-weight: bold;
  color: #503e2b;
}

/* line 68, ../views/stylesheet.sass */
em {
  font-style: italic;
}

/* line 72, ../views/stylesheet.sass */
#container {
  width: 1000px;
  overflow: auto;
  margin: auto;
  padding: 40px 0;
}

/* line 78, ../views/stylesheet.sass */
#main {
  width: 600px;
  float: left;
  -moz-box-shadow: #503e2b 0px 2px 5px 0;
  -webkit-box-shadow: #503e2b 0px 2px 5px 0;
  -o-box-shadow: #503e2b 0px 2px 5px 0;
  box-shadow: #503e2b 0px 2px 5px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 0 200px;
  background-color: white;
  position: relative;
}

/* line 87, ../views/stylesheet.sass */
#github {
  position: absolute;
  top: -11px;
  right: -12px;
}

/* line 92, ../views/stylesheet.sass */
#header {
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -o-border-top-left-radius: 7px;
  -ms-border-top-left-radius: 7px;
  -khtml-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -o-border-top-right-radius: 7px;
  -ms-border-top-right-radius: 7px;
  -khtml-border-top-right-radius: 7px;
  border-top-right-radius: 7px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e9e9e9), color-stop(50%, #ffffff), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #e9e9e9 0%, #ffffff 50%, #ffffff 100%);
  background-image: linear-gradient(top, #e9e9e9 0%, #ffffff 50%, #ffffff 100%);
  line-height: 50px;
  padding: 10px 20px;
  border: 2px solid white;
  border-bottom: 1px dotted #e3e3e3;
}

/* line 100, ../views/stylesheet.sass */
#sidebar {
  float: left;
  width: 180px;
  padding: 0 0 0 15px;
  margin: 70px 0 0 5px;
  border-top: 1px dotted #cccccc;
}
/* line 107, ../views/stylesheet.sass */
#sidebar h3 {
  padding-top: 20px;
}
/* line 110, ../views/stylesheet.sass */
#sidebar p {
  color: #9e948a;
  font-size: 12px;
}
/* line 113, ../views/stylesheet.sass */
#sidebar p a {
  color: #503e2b;
}
/* line 117, ../views/stylesheet.sass */
#sidebar ul li a, #sidebar ol li a {
  color: #9e948a;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.2-p136@adventures-with-ruby/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
#sidebar ul li a:hover, #sidebar ol li a:hover {
  color: #cc0000;
}
/* line 119, ../views/stylesheet.sass */
#sidebar ul li {
  font-size: 12px;
  line-height: 20px;
}
/* line 123, ../views/stylesheet.sass */
#sidebar ol li {
  font-size: 10px;
  line-height: 15px;
}

/* line 127, ../views/stylesheet.sass */
#footer {
  clear: both;
  color: #9e948a;
  text-align: center;
  font-size: 11px;
  line-height: 18px;
  padding: 5px;
}

/* line 135, ../views/stylesheet.sass */
#content {
  padding-bottom: 6px;
}
/* line 137, ../views/stylesheet.sass */
#content h1, #content h2, #content h3 {
  margin: 0 20px 6px 0;
  padding: 20px 0 6px 20px;
}

/* line 142, ../views/stylesheet.sass */
article h2, article h3, article h4, article h5, article h6 {
  margin: 0 20px 6px 0;
  padding: 20px 0 6px 20px;
  border-bottom: 1px dotted #e3e3e3;
}
/* line 146, ../views/stylesheet.sass */
article p {
  margin: 0 20px 6px 20px;
  color: #808094;
  text-align: justify;
}
/* line 150, ../views/stylesheet.sass */
article p.read_more {
  text-align: right;
}
/* line 153, ../views/stylesheet.sass */
article aside {
  margin: -7px 0 0 -61px;
  float: left;
  width: 30px;
  border-top: 1px dotted #cccccc;
  padding: 6px 13px;
  text-align: center;
  font-size: 12px;
  color: #9e948a;
}
/* line 162, ../views/stylesheet.sass */
article aside time {
  display: block;
}
/* line 164, ../views/stylesheet.sass */
article aside span {
  display: block;
}
/* line 166, ../views/stylesheet.sass */
article aside span.day {
  color: #503e2b;
  font-size: 20px;
  line-height: 30px;
}

/* line 173, ../views/stylesheet.sass */
.ir_black, pre {
  border: 3px solid white;
  -moz-box-shadow: #503e2b 0px 2px 5px 0;
  -webkit-box-shadow: #503e2b 0px 2px 5px 0;
  -o-box-shadow: #503e2b 0px 2px 5px 0;
  box-shadow: #503e2b 0px 2px 5px 0;
  padding: 10px;
  background-color: black;
  margin: 5px 0 15px 10px;
  display: inline-block;
  font-family: Monaco, monospace;
  font-size: 12px;
  line-height: 15px;
  color: #f6f3e8;
}

/* line 189, ../views/stylesheet.sass */
.alignright {
  float: right;
  margin-right: 20px;
}

/* line 193, ../views/stylesheet.sass */
.ir_white {
  border: 3px solid white;
  -moz-box-shadow: #503e2b 0px 2px 5px 0;
  -webkit-box-shadow: #503e2b 0px 2px 5px 0;
  -o-box-shadow: #503e2b 0px 2px 5px 0;
  box-shadow: #503e2b 0px 2px 5px 0;
  padding: 10px;
  background-color: white;
  margin: 5px 0 15px 10px;
  display: inline-block;
  font-family: Monaco, monospace;
  font-size: 12px;
  color: #503e2b;
}

/* line 208, ../views/stylesheet.sass */
.ir_black:hover, .ir_white:hover {
  position: relative;
  z-index: 10000;
}

/* line 212, ../views/stylesheet.sass */
pre, pre.ir_black {
  margin-left: -13px;
  width: 600px;
}
/* line 215, ../views/stylesheet.sass */
pre .Comment, pre.ir_black .Comment {
  color: #7c7c7c;
}
/* line 217, ../views/stylesheet.sass */
pre .Conditional, pre.ir_black .Conditional {
  color: #6699cc;
}
/* line 219, ../views/stylesheet.sass */
pre .Constant, pre.ir_black .Constant {
  color: #99cc99;
}
/* line 221, ../views/stylesheet.sass */
pre .Delimiter, pre.ir_black .Delimiter {
  color: #00a0a0;
}
/* line 223, ../views/stylesheet.sass */
pre .Function, pre.ir_black .Function {
  color: #ffd2a7;
}
/* line 225, ../views/stylesheet.sass */
pre .Number, pre.ir_black .Number {
  color: #ff73fd;
}
/* line 227, ../views/stylesheet.sass */
pre .PreProc, pre.ir_black .PreProc {
  color: #96cbfe;
}
/* line 229, ../views/stylesheet.sass */
pre .Special, pre.ir_black .Special {
  color: #e18964;
}
/* line 231, ../views/stylesheet.sass */
pre .String, pre.ir_black .String {
  color: #a8ff60;
}
/* line 233, ../views/stylesheet.sass */
pre .Type, pre.ir_black .Type {
  color: #ffffb6;
}
/* line 235, ../views/stylesheet.sass */
pre .rubyControl, pre.ir_black .rubyControl {
  color: #6699cc;
}
/* line 237, ../views/stylesheet.sass */
pre .rubyStringDelimiter, pre.ir_black .rubyStringDelimiter {
  color: #336633;
}
