.content

  p
    color: $black
    text-align: justify

    &.read_more
      text-align: right
      a
        +inline-block
        padding: $small-gap 0 $small-gap $small-gap
        margin-bottom: $big-gap
        +link-colors($warm-gray, $red)
        text-decoration: none

  h1, h2, h3, h4, h5, h6
    border-bottom: $sidebar-border

  ul
    list-style: disc outside
    margin: $small-gap
    margin-left: $big-gap
  ol
    list-style: decimal outside
    margin: $big-gap
  li
    color: $cool-gray
    pre
      display: block
      width: auto !important
      min-width: auto

  tt, code
    +code-font
    color: #336633

  blockquote
    margin: $big-gap
    color: $warm-gray
    p
      color: $warm-gray

  article
    min-height: 100px
    h1
      a
        color: $black

    h2
      border-bottom: $sidebar-border
    p.summary a
      color: $black
      text-decoration: none
      display: block
