$black:       #503e2b
$warm-gray:   #9e948a
$cool-gray:   #808094
$red:         #cc0000
$blue:        #004477

$content-border: 1px dotted #e3e3e3
$sidebar-border: 1px dotted #cccccc

$big-gap:  20px
$content-width:   600px
$sidebar-width:   200px
$container-width: $content-width + (2 * $sidebar-width)

$small-gap: 6px

$default-box-shadow-color:    $black
$default-box-shadow-h-offset: 0px
$default-box-shadow-v-offset: 2px
$defualt-box-shadow-blur:     4px
$default-box-shadow-spread:   0

$background-color: #eeeeef
